@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

.logo{
  font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
}

.cabecalho{
  display: flex;
  flex-direction: row;
}

.navigation{
  display: flex;
  flex-direction: row;
}

body{
  
}